<%= render 'partials/navbar' %>

<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<table>
	<tr>
		<th>Name</th>
		<th>Gender</th>
		<th>Number</th>
		<th>Address</th>
		<th>Email</th>
		<th>Instance-method time</th>
	</tr>
	
	<% @employees.each do |employee| %>
		<tr>
			<td><%= employee.name %></td>
			<td><%= employee.gender %></td>
			<td><%= employee.contact_number %></td>
			<td><%= employee.address %></td>
			<td><%= employee.email %></td>
			<td><%= employee.my_date %></td>
			<td><%= link_to :Show, employee_path(employee) %></td>
			<td><%= link_to :Edit, "employees/#{employee.id}/edit" %></td>
			<td><%= link_to :Delete, employee_path(employee), data: {turbo_method: :delete} %><td>
		</tr>
	<% end %>
</table>